// Add dependencies.
@import "../bower_components/susy/sass/susy";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/reset-css/reset";
@import "fontello.css";

$height-topbar: 50px;
$bg: #4294f0;

$phone-only-breakpoint: (
        max-width: 767px,
);

$screen-breakpoint: (
        min-width: 768px,
        max-width: 2000px,
);

$susy: (
        columns: 3,
        gutters: 1/4,
        global-box-sizing: border-box,
        use-custom: (
                rem: true
        )
);

@mixin to-margin-last($margin, $side: right) {
  margin-#{$side}: $margin;

  &:last-child {
    margin-#{$side}: 0;
  }
}

@mixin to-hover {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin to-clearfix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

* {
  @include box-sizing(border-box);
}

.container {
  @include container(1000px);
  @include gutter(inside);
}

a {
  @include transition(all 0.3s ease);
  color: #818181;
  cursor: pointer;

  @include to-hover {
    color: $bg
  }
}

.center-button {
  text-align: center;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.item {
  .column-3 & {
    @include span(1 of 3);

    &:nth-child(3n) {
      @include last();
    }
  }
}

.button {
  @include transition(all 0.3s ease);
  display: inline-block;
  cursor: pointer;
  height: 40px;
  padding: 5px 15px;
  line-height: 26px;
  text-align: center;
  border: 2px solid transparent;
  text-decoration: none;
  background: $bg;
  color: white;

  @include to-hover() {
    text-decoration: none;
    border: 2px solid $bg;
    background: transparent;
    color: $bg;
  }

  &.big {
    font-size: 140%;
    height: 60px;
    padding: 5px 20px;
    line-height: 44px;
    font-weight: 700;
  }

  &.border {
    border: 2px solid $bg;
    background-color: transparent;
    color: $bg;

    @include to-hover() {
      background: $bg;
      color: white;
    }

    &.white {
      border-color: white;
      color: white;

      @include to-hover() {
        background: white;
        color: black;
      }
    }
  }
}

body > section {
  @include to-clearfix();
  padding: 50px 0;

  > h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
  }
}

header {
  @include size(100% $height-topbar);
  @include transition(all 0.4s linear);
  position: fixed;
  top: 0;
  left: 0;
  background: $bg;
  z-index: 20;

  #logo {
    float: left;
    height: 100%;
    margin-right: 20px;

    a {
      display: block;
      margin-top: 5px;
    }

    img {
      height: 40px;
      max-width: 100%;
      display: block;
    }
  }

  nav {
    float: left;

    ul {
      list-style: none outside none;

      li {
        float: left;

        a {
          @include transition(all 0.3s ease-in);
          height: $height-topbar;
          display: block;
          padding-left: 20px;
          padding-right: 20px;
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          line-height: $height-topbar;

          @include to-hover() {
            background: rgb(41, 97, 154);
          }
        }
      }
    }
  }

  @include susy-breakpoint($phone-only-breakpoint) {
    @include size(100%);
    margin-left: -100%;

    &.open {
      margin-left: -20%;
    }

    nav {
      ul {
        li {
          float: none;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.mobile-panel {
  @include size(100% $height-topbar);
  z-index: 10;
  background: #ccc;

  @include susy-breakpoint($screen-breakpoint) {
    display: none;
  }
}

.dialog-fade {
  @include size(100%);
  @include transition(all 0.3s linear);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  display: none;
  background: rgba(0,0,0,0.7);

  &.open {
    display: block;
  }
}

#offer {
  @include size(100% 100vh);
  background: url("../img/macbook.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  .fade {
    @include size(100%);
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    @include span(full);
    @extend .clearfix;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .clearfix {
      position: relative;
      margin-bottom: 50px;

      > div {
        @include span(1 of 2 1/10 inside);

        &:first-child {
          border-right: 3px solid #ccc;
        }
      }
    }
  }

  h1 {
    font-size: 40px;
    text-align: right;
    color: white;
  }

  span.slogan {
    color: #ccc;
    font-size: 28px;
    font-style: italic;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .act {
    text-align: center;
  }
}

#skills {
  .item {
    @include transition(all 0.3s ease);
    border: 3px solid #ccc;
    padding: 15px;

    @include to-hover() {
      border-color: $bg;
    }

    > * {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      font-style: italic;
    }

    ul {
      display: block;
      text-align: center;

      li {
        margin-bottom: 5px;
      }
    }
  }
}

#business {
  background: url("../img/pat.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  > .column {
    @include span(1 of 2 1/10);

    &:nth-child(2n) {
      @include last;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .text {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    > * {
      @include to-margin-last(30px, bottom);
    }

    h2 {
      font-size: 38px;
    }
  }
}

#gallery {
  @include span(full);
  position: relative;

  h3 {
    color: black;
  }

  .item {
    @include to-clearfix;
    position: relative;
    margin-bottom: 50px;
    height: 200px;
    background: url('../img/gallery-bg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;

    .fade {
      @include transition(all 0.4s ease);
      @include size(100%);
      background: rgba(0,0,0,0.7);
      position: absolute;
      top: -600px;
      left: 0;
    }

    .title {
      @include transition(all 0.4s ease 0.2s);
      color: white;
      text-align: center;
      padding-top: 15px;
      font-weight: 700;
    }

    .description {
      @include transform(translate3d(0px,2000px,0px));
      @include transition(all 0.5s ease-out);
      color: white;
      width: 100%;
      height: 130px;
      padding: 15px;
      font-style: italic;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include to-hover {
      .fade,
      .title,
      .description {
        @include transform(translate3d(0px,0px,0px));
        top: 0;
        margin: 0;
      }
    }
  }
}

#news {
  .container {
    @include to-clearfix;
  }

  article {
    @include span(full);
    @include transition(all 0.4s ease);
    height: 200px;
    position: relative;
    margin-bottom: 50px;

    @include to-hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

    a {
      @include size(100%);
      display: block;

      .img {
        @include span(1 of 3 inside no-gutters);
        background: url("../img/vibor.jpg") no-repeat center;
        background-size: cover;
        height: 100%;

        img {
          display: block;
          max-width: 100%;
          height: auto;
          vertical-align: baseline;
        }
      }

      .description {
        @include span(2 of 3 inside no-gutters);
        padding: 15px;

        h3 {
          font-size: 28px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

footer {
  @include span(full);
  @include to-clearfix;
  padding: 50px 0 20px 0;
  background: url("../img/footer-bg.png") no-repeat center;
  background-size: cover;
  color: #e1e1e1;

  .container {
    > * {
      @include span(1 of 3);

      &:nth-child(3n) {
        @include last;
      }

      &:nth-child(-n+3) {
        margin-bottom: 30px;
      }

      &:last-child {
        @include span(full);
      }
    }
  }

  a {
    color: white;

    @include to-hover {
      color: #ccc;
    }
  }

  h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .contact {
    ul {
      @include span(1 of 2 1/8);

      &:nth-child(odd) {
        width: auto;
      }
      &:nth-child(even) {
        margin: 0;
      }
    }
  }

  ul.social {
    li {
      display: inline-block;
    }
  }
}