html, body, ul{
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}
body {
	font-family: sans-serif;
}
header div#logo > img{
	text-align: center;
	width: 70px;
}
div.main_wide {
	height: 590px;
	width: 100%;
	background: red;
}

@media (min-width:1200px){
	header{
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		z-index: 5;
		background: #2196F3;
	}
	header div#logo {
		margin: 5px 5px 0 220px;

	}
	header div#logo > span {
		font-size: 23pt;
		font-family: helvetica;
	}
	header nav, header div#logo {
		float: left;
	}
	header ul {
		display: block;
		height: 50px;
		list-style: none outside none;
	}
	header nav ul li{
		display: block;
		float: left;
		height: 100%;
	}
	a.nav {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 10px 0 10px;
		text-decoration: none;
		color: white;
		line-height: 50px;
	}
	li:hover {
		background: #1565C0;
	}
}

@media (max-width:1200px){
	header{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		background: #2196F3;
		padding-top: 30px;
	}
	header div#logo {
		text-align: center;
		width: 200px;
		height: 40px;
	}
	header div#logo > span {
		font-size: 23pt;
		font-family: helvetica;
	}
	header nav, header div#logo {
		margin: auto;
	}
	header nav {
		width: 200px;
		height: 180px;
	}

	header ul {
		display: block;
		height: 40px;
		list-style: none outside none;
	}
	header nav ul li{
		display: block;
		height: 100%;
		text-align: center;
	}
	a.nav {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: white;
		line-height: 50px;
	}
	li:hover {
		background: #1565C0;
	}
}
